html,
    body,
    header,
    .view {
      height: 100%;
    }

    @media (max-width: 740px) {
      html,
      body,
      header,
      .view {
        height: 1000px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .view {
        height: 650px;
      }
    }
    @media (min-width: 800px) and (max-width: 850px) {
              .navbar:not(.top-nav-collapse) {
                  background: #1C2331!important;
              }
          }
$(document).ready(function() {
            $("#myCarousel").carousel({
                interval: 3000,
                pause: false
            });
        });

    </script>
    <style type="text/css">
        .carousel {
            background: rgba(255, 255, 255, 0.1);
            margin-top: -10px;
        }
        
        .carousel .item img {
            margin: 0 auto;
            /* Align slide image horizontally center */
        }
        
        .bs-example {
            margin: 5px;
        }
